#dashboard{
    width: 100vw;
    height: 100vh;
}

#logo{
    width: 75px;
    height: 75px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#upload{
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 16px;
}

#teacherbar{
    width: 100%;
    height: 88px;
    background-color: var(--primary-theme);
    overflow:hidden;
}

#content{
    width: 90vw;
    height: 85vh;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}


.teacher{
    width: 275px;
    height: 60px;
    background-color:white;
    margin: 12px;
    float:left;
    border-radius: 4px;
}

.profileImage {
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
  }

.teacherName{
    text-align: center;
    float:inline-start;
    bottom: 45px;
    position: relative;
}

#buttonBar {
    grid-template-columns: repeat(5, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
}

.activeTab{
    background-color: rgb(54, 54, 54);
    color: white;
}

.switchDiv {
    border:none;
    height: 50px;
    width: 150px;
    font-size: 16px;
    float: left;
}

.addButton {
    border:none;
    height: 50px;
    width: 150px;
    font-size: 16px;
}

.input{
    background-color: #C4C4C4;
    border: none;
    border-radius: 3px;
    width: 80vw;
    max-width: 450px;
    height: 40px;
    margin: 8px;
    filter: drop-shadow(0 2mm 1mm rgb(214, 214, 214));
    display: block;
    margin: 0 auto;
}


.targetDiv{
    height: 60vh;
    width: 100%;
}

.activeTab{
    background-color: rgb(54, 54, 54);
    color: white;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}